<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}">Shiro Web Project</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right" shiro:guest>
                <li><a th:href="@{toRegisterPage}" class="btn">Sign up</a></li>
            </ul>
            <form action="/user/login" method="post" class="navbar-form navbar-right" shiro:guest="true">
                <div class="form-group">
                    <input type="text" name="loginName" placeholder="请输入用户名" class="form-control" value="jack" required>
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="请输入密码" class="form-control" value="123456" readonly required>
                </div>
                <div class="form-group text-muted">
                    <label>
                        <input type="checkbox" name="rememberMe" value="true"> Remember Me
                    </label>
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
            </form>
            <p class="navbar-text navbar-right" shiro:user><a th:href="@{user/logout}">注销</a></p>
            <p class="navbar-text navbar-right" shiro:user style="color: #fff"><span class="glyphicon glyphicon-user"></span><b style="padding: 10px"><shiro:principal/></b>欢迎您！</p>
        </div><!--/游客登录模式 -->
    </div>
</nav>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Hello, shiro!</h1>
        <p>Apache Shiro™是一个功能强大且易于使用的 Java 安全框架，可执行身份验证、授权、加密和会话管理。借助 Shiro 易于理解的 API，您可以快速轻松地保护任何应用程序——从最小的移动应用程序到最大的 Web 和企业应用程序。</p>
        <p><a class="btn btn-primary btn-lg" th:href="@{/user/details}" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container" shiro:user>
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>身份认证</h2>
            <p>支持跨一个或多个可插入数据源（LDAP、JDBC、Active Directory ...</p>
            <p shiro:authenticated><a class="btn btn-default" href="https://shiro.apache.org/authentication-features.html" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>授权</h2>
            <p>基于角色或细粒度权限执行访问控制，也使用插件...</p>
            <p shiro:authenticated><a class="btn btn-default" href="https://shiro.apache.org/authorization-features.html" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>密码学</h2>
            <p>使用最简单的可用密码学 API 保护数据，让您...</p>
            <p shiro:authenticated><a class="btn btn-default" href="https://shiro.apache.org/cryptography-features.html" role="button">View details &raquo;</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>会话管理</h2>
            <p>在任何环境中使用会话，甚至在 Web 或 EJB 容器之外。容易地...</p>
            <p shiro:authenticated><a class="btn btn-default" href="https://shiro.apache.org/session-management-features.html" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>网页整合</h2>
            <p>通过可轻松处理特定于 Web 的创新方法节省开发时间...</p>
            <p shiro:authenticated><a class="btn btn-default" href="https://shiro.apache.org/web-features.html" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>集成</h2>
            <p>API 为您提供了超越 Java 默认提供的功能和简单性......</p>
            <p shiro:authenticated><a class="btn btn-default" href="https://shiro.apache.org/integration.html" role="button">View details &raquo;</a></p>
        </div>
    </div>
    <hr>

    <footer>
        <p>&copy; 2023 Company, Inc.</p>
    </footer>
</div> <!-- /container -->

<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"/>
<script src="https://cdn.jsdelivr.cn/npm/jquery@1.12.4/dist/jquery.min.js"/>
</body>
</html>